<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0.4rem 1.2rem;
    border: none;
    font-weight: 500;
  }
  .btn-search:hover {
    background-color: #e5323c;
    color: #fff;
  }
  .btn-search i {
    display: inline;
    margin-right: 0.4rem;
  }
  .search-inp {
    padding: 0.5rem 1rem;
    border-radius: 25px;
  }
  @media (max-width: 767px) {
    .navbar-nav .d-flex {
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      margin-top: 0.5rem;
    }
    .search-inp, .btn-search {
      width: 100%;
    }
    .navbar-nav {
      gap: 0.25rem;
      padding: 0.5rem 0;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav mx-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations" aria-label="Search"/>
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add New</a>
        <% if (isAuthenticated) { %>
          <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } else { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
